@use "sass:math";

:root {
  --current-lightness: 99%;
  --current-darkness: 5%;

  --dark-chroma: 0.01;
  --light-chroma: 0.01;

  --darker: -5%;
  --brighter: 10%;
  --darker_: -15%;
  --brighter_: 30%;

  --brand-lightness: 80%;
  --brand-chroma: 0;
  --brand-hue: 0;

  --accent-lightness: 70%;
  --accent-chroma: 0;
  --accent-hue: 0;

  --extra-lightness: 60%;
  --extra-chroma: 0;
  --extra-hue: 0;

}

// Map des valeurs de fade avec des underscores
$fade-map: (
  "_": 65%,
  "__": 35%,
  "___": 5%,
);

$darkbright-map: (
  "-d": var(--darker),
  "-b": var(--brighter),
  "-d_": var(--darker_),
  "-b_": var(--brighter_),
);


$gradients: "brand", "accent", "dark", "light", "extra";
$gradients-darkbright: "-d", "-d_", "-b", "-b_";

$color-map: (
  "brand": var(--brand-lightness) var(--brand-chroma) var(--brand-hue),
  "accent": var(--accent-lightness) var(--accent-chroma) var(--accent-hue),
  "extra": var(--extra-lightness) var(--extra-chroma) var(--extra-hue),
  "white": 100% 0 0,
  "dark": var(--current-darkness) var(--dark-chroma) var(--brand-hue),
  "light": var(--current-lightness) var(--light-chroma) var(--brand-hue)
);

// Génération des variables CSS avec les bons suffixes
.current-theme {
  @each $color-name, $color-value in $color-map {
    --root-#{$color-name}: #{$color-value};
    --#{$color-name}: oklch(var(--root-#{$color-name}));

    @each $suffix, $fade-value in $fade-map {
      --#{$color-name}#{$suffix}: oklch(var(--root-#{$color-name}) / #{$fade-value});
    }

    @each $suffix, $darkbright-value in $darkbright-map {
      @if $color-name == "light" {
        --#{$color-name}#{$suffix}: oklch(calc(var(--current-lightness) + #{$darkbright-value}) var(--light-chroma) var(--brand-hue));
      } @else if $color-name == "dark" {
        --#{$color-name}#{$suffix}: oklch(calc(var(--current-darkness) + #{$darkbright-value}) var(--dark-chroma) var(--brand-hue));
      } @else {
        --#{$color-name}#{$suffix}: oklch(calc(var(--#{$color-name}-lightness) + #{$darkbright-value}) var(--#{$color-name}-chroma) var(--#{$color-name}-hue));
      }
    }
  }

}



$suffix: "_";
$colors-class: "brand", "accent", "extra", "dark", "light", "white";
$fades: "_", "__", "___";
$shades: "-b", "-d", "-b_", "-d_";

$colors: (
  c: color,
  bg: background,
  bc: border-color,
  f: fill,
  s: stroke,
);

@mixin getAllColors($prop, $key) {
  @each $class in $colors-class {
    .#{$suffix}#{$key}-#{$class} {
      --current-#{$key}-color: var(--#{$class});

      @each $fade in $fades {
        &#{$fade} {
          --current-#{$key}-color: var(--#{$class}#{$fade});
        }
      }
      @each $shade in $shades {
        &#{$shade} {
          --current-#{$key}-color: var(--#{$class}#{$shade});
        }
      }
    }
  }

  @if ($key == "f") {
    [class*="#{$suffix}#{$key}"] path,
    [class*="#{$suffix}#{$key}"] {
      #{$prop}: var(--current-#{$key}-color);
    }
  } @else {
    [class*="#{$suffix}#{$key}"] {
      #{$prop}: var(--current-#{$key}-color);
    }
  }
}

@each $key, $prop in $colors {
  @include getAllColors($prop, $key);
}

// Gestion du mode sombre

@media (prefers-color-scheme: dark) {
  .current-theme {
    --darker: 10%;
    --brighter: -5%;
    --darker_: 30%;
    --brighter_: -15%;

    --current-lightness: 15%;
    --current-darkness: 90%;

    --dark-chroma: 0.01;
    --light-chroma: 0.2;
  }
}
