a {
  text-decoration: none;
  &:hover {
    background-color: var(--brand__);
    span {
      color: var(--dark);
    }
    &:is(._bg-brand) {
      background-color: var(--dark);
      span {
        color: var(--light);
      }
    }
  }
}

body {
  margin: 0;
  font-family: var(--body-font), sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: var(--light);
  font-weight: var(--body-weight);
  color: var(--dark);
  overflow: auto;
  container-type: inline-size;
}

h1 {
  margin: 0;
  padding: 0;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wght" var(--title-weight);
  font-family: var(--title-font), sans-serif;
}

h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wght" var(--sub-title-weight);
  font-family: var(--title-font), sans-serif;
}

p {
  margin: 0;
}

nav {
  background-color: var(--light_);
  backdrop-filter: blur(1rem);
  top: 0px;
  width: 100%;
  position: sticky;
  z-index: 100;

  ol {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    gap: var(--52__);

    li {
      padding: var(--8);
      border-radius: var(--12-);
      outline: 1px solid var(--dark___);
      text-align: center;
      flex: 1;
      cursor: pointer;
      &:hover:not(.selected) {
        background-color: var(--dark);
        color: var(--light);
      }
      &.selected {
        color: var(--light);
        background-color: var(--brand);
        outline: 3px solid var(--brand__);
      }
    }
  }
}

p {
  width: 100%;
  line-height: 1.6;
  max-width: var(--576);
}

section {
  width: 100%;

  padding-bottom: var(--156);
  position: relative;
  z-index: 20;
  nav {
    padding-inline: unset;
    z-index: unset;
    position: relative;
  }
}
