// idée de base
/*
//ratio d'ajustement
--Φ: 1.61803398875;
//screen size on figma || XD ( test 150px )
--screen: 1440;
--base-1: 150; 
--calc-1: calc(calc(var(--base-1) / var(--screen)) * 100);
--calc-1-ez: calc(calc(var(--base-1) / var(--screen)) * 142.4);

--1rem-min: calc(var(--calc-1) * 0.38rem);
--1vw: calc(var(--calc-1) * 1vw);
--1vw-ez: calc(calc(var(--calc-1-ez) * 1vw) - var(--1rem-min)) ;
--1rem-max: calc(var(--calc-1) * 1rem);

--1-ez: clamp(1rem , var(--1vw-ez) ,var(--1rem-max));
--1: clamp(calc(var(--1rem-min) / var(--Φ)) , var(--1vw),var(--1rem-max));
--1-: clamp(var(--1rem-min)  , var(--1vw) ,var(--1rem-max));
--1--: clamp(calc(var(--1rem-min) * var(--Φ)) , var(--1vw) ,var(--1rem-max));
*/

// START FRAMEWORK
// EVA-CSS v1.0

$max: 1rem;
$Φ: 1.61803398875;
$min: 0.38rem;
$ez: 142.4;
$unit: 1rem;
$unit-fluid: 1vw;

$screen: 1440;
$sizes: 5, 10, 15, 25, 40, 65, 105, 170, 275, 445, 720;
$font-sizes: 12, 16, 24, 28, 40, 58, 72;
$eva: 0;

$properties: (
  w: width,
  h: height,
  p: padding,
  px: padding-inline,
  py: padding-block,
  g: gap,
  br: border-radius,
  bw: border-width,
);

$font-properties: (
  fs: font-size,
);

@function round2($number) {
  @return round($number * 100) / 100;
}

// Boucle SCSS pour générer des classes avec classe
@each $size in $sizes {
  $eva: $eva + 1;
  $calc-percent: round2(($size / $screen) * 100);
  $calc-percent_: round2(($size / $screen) * $ez);

  $size-px: $size * 1px;
  $size-rem: ($size / 16) * 1rem;
  $rem-min: round2($calc-percent * $min);
  $vw: round2($calc-percent * $unit-fluid);
  $vw_: calc(#{round2($calc-percent_ * $unit-fluid)} - #{$rem-min});
  $rem-max: round2($calc-percent * $max);

  :root {
    --#{$eva}__: clamp(#{round2($rem-min / $eva)}, #{$vw_}, #{$rem-max});
    --#{$eva}_: clamp(#{round2($rem-min / $Φ)}, #{$vw}, #{$rem-max});
    --#{$eva}: clamp(#{$rem-min}, #{$vw}, #{$rem-max});
    --#{$eva}-: clamp(#{round2($rem-min * $Φ)}, #{$vw}, #{$rem-max});
    --#{$eva}-px: #{$size-px};
    --#{$eva}-rem: #{$size-rem};
  }

  @each $key, $prop in $properties {
    [data-setter="__"] {
      .#{$key}-#{$eva}-\@ {
        --abstract-getter: var(--#{$eva}__);
      }
    }
    [data-setter="_"] {
      .#{$key}-#{$eva}-\@ {
        --abstract-getter: var(--#{$eva}_);
      }
    }
    [data-setter=""] {
      .#{$key}-#{$eva}-\@ {
        --abstract-getter: var(--#{$eva});
      }
    }
    [data-setter="-"] {
      .#{$key}-#{$eva}-\@ {
        --abstract-getter: var(--#{$eva}-);
      }
    }
    [data-setter="-px"] {
      .#{$key}-#{$eva}-\@ {
        --abstract-getter: var(--#{$eva}-px);
      }
    }
    [data-setter="-rem"] {
      .#{$key}-#{$eva}-\@ {
        --abstract-getter: var(--#{$eva}-rem);
      }
    }
    .#{$key}-#{$eva} {
      #{$prop}: var(--#{$eva});
      &- {
        #{$prop}: var(--#{$eva}-);
        &- {
          #{$prop}: var(--#{$eva}--);
        }
      }
      &_ {
        #{$prop}: var(--#{$eva}_);
        &_ {
          #{$prop}: var(--#{$eva}__);
        }
      }
      &-px {
        #{$prop}: var(--#{$eva}-px);
      }
      &-rem {
        #{$prop}: var(--#{$eva}-rem);
      }
      &-\@ {
        #{$prop}: var(--abstract-getter);
      }
    }
  }
}

$eva: 0;
$min: 0.6rem;
//$ez : 110;

$Φ: 1.3;
$fs: "fs";
// Boucle SCSS pour générer des classes des fonts avec classe
@each $size in $font-sizes {
  $eva: $eva + 1;
  $calc-percent: round2(($size / $screen) * 100);

  $size-px: $size * 1px;
  $size-rem: ($size / 16) * 1rem;
  $rem-min: round2($calc-percent * $min);
  $vw: round2($calc-percent * $unit-fluid);
  $rem-max: round2($calc-percent * $max);

  :root {
    --#{$fs}-#{$eva}__: clamp(#{round2($rem-min / $Φ)}, #{$vw}, #{$rem-max});
    --#{$fs}-#{$eva}_: clamp(#{$rem-min}, #{$vw}, #{$rem-max});
    --#{$fs}-#{$eva}: clamp(#{round2($rem-min * $Φ)}, #{$vw}, #{$rem-max});
    --#{$fs}-#{$eva}-px: #{$size-px};
    --#{$fs}-#{$eva}-rem: #{$size-rem};
  }
  @each $key, $prop in $font-properties {
    .#{$key}-#{$eva} {
      #{$prop}: var(--#{$fs}-#{$eva});

      &_ {
        #{$prop}: var(--#{$fs}-#{$eva}_);
        &_ {
          #{$prop}: var(--#{$fs}-#{$eva}__);
        }
      }
      &-px {
        #{$prop}: var(--#{$fs}-#{$eva}-px);
      }
      &-rem {
        #{$prop}: var(--#{$fs}-#{$eva}-rem);
      }
      &-1 {
        #{$prop}: 1px;
      }
    }
  }
}
