.demo-line {
  position: relative;
  transition: width 0.5s;

  span {
    font-weight: bold;
    letter-spacing: 0.1em;
  }

  code {
    position: absolute;
    top: 0;
    translate: 0% calc(-100% - var(--1));
    width: fit-content;
    white-space: nowrap;
    z-index: 2;

    color: var(--dark);
  }
}

.line {
  height: 1px;
  background-color: var(--dark);
  position: relative;
  transition: width 0.5s;
  opacity: 0.3;

  width: 100%;
  &:before,
  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: calc(var(--2) * -0.5);
    transition: width 0.5s;
    width: 1px;
    height: var(--2);
    background-color: var(--dark);
  }
  &:after {
    left: unset;
    right: 0;
  }
}

.legende {
  height: 1px;
  position: absolute;
  background-color: var(--brand__);
  text-transform: uppercase;

  &:after {
    content: "";
    position: absolute;
    right: 0;
    top: calc(var(--2) * -0.5);
    transition: width 0.5s;
    width: 1px;
    height: var(--2);
    background-color: var(--brand);
  }
  span {
    position: absolute;
    right: 0rem;
    top: 0rem;
    translate: -0.2rem -0.57rem;
    font-size: var(--2);
    background-color: var(--light);
    line-height: 1;
  }

  &.light {
    &:after {
      height: var(--3);
    }
    span {
      top: var(--3);
      z-index: 1;
    }
  }
  &.medium {
    &:after {
      height: calc(var(--3) * 2);
    }
    span {
      top: calc(var(--3) * 2);
      z-index: 2;
    }
  }
  &.strong {
    &:after {
      height: calc(var(--3) * 3);
    }
    span {
      top: calc(var(--3) * 3);
      z-index: 3;
    }
  }
  &.extrem {
    &:after {
      height: calc(var(--3) * 4);
    }
    span {
      top: calc(var(--3) * 4);
      z-index: 4;
    }
  }
}

.line-y {
  width: 1px;
  position: relative;
  background-color: var(--dark);
  opacity: 0.2;
  &:after {
    content: "";
    position: absolute;
    height: 100%;
    aspect-ratio: 1/1;
    background-color: #ffffff22;
    border-radius: 100%;
    transform: translateX(-50%);
    border: 1px solid var(--dark);
  }
}

.stage {
  filter: blur(4px);
  position: absolute;
  overflow: hidden;
  pointer-events: none;
  z-index: 0;
  height: 100%;
  width: 100%;
  left: 0px;
  top: var(--6-);

  .stage-top {
    position: absolute;
    width: 100%;
    top: 0px;
    align-items: flex-start;
    justify-content: space-around;
  }
}
