/* BUILD EVA CSS FRAMEWORK
@import "./framework/reset";
@import "./framework/eva";
@import "./framework/colors";
@import "./framework/theme";
@import "./framework/components";
@import "./framework/utils";
@import "./framework/ballzzz";
@import "./framework/font";
@import "./framework/index"; */
/* BUILD ONLY FLUID CSS VAR */
:root {
  --4__: clamp(0.5rem, 0.4vw - 0.14rem, 0.28rem);
  --4_: clamp(0.09rem, 0.21vw + 0.06rem, 0.28rem);
  --4: clamp(0.14rem, 0.14vw + 0.13rem, 0.28rem);
  --4-: clamp(0.23rem, 0.07vw + 0.19rem, 0.28rem);
  --8__: clamp(0.5rem, 0.79vw - 0.28rem, 0.56rem);
  --8_: clamp(0.17rem, 0.42vw + 0.13rem, 0.56rem);
  --8: clamp(0.28rem, 0.28vw + 0.25rem, 0.56rem);
  --8-: clamp(0.45rem, 0.14vw + 0.38rem, 0.56rem);
  --12__: clamp(0.5rem, 1.19vw - 0.42rem, 0.83rem);
  --12_: clamp(0.26rem, 0.62vw + 0.19rem, 0.83rem);
  --12: clamp(0.42rem, 0.42vw + 0.38rem, 0.83rem);
  --12-: clamp(0.68rem, 0.21vw + 0.56rem, 0.83rem);
  --16__: clamp(0.5rem, 1.58vw - 0.56rem, 1.11rem);
  --16_: clamp(0.35rem, 0.83vw + 0.25rem, 1.11rem);
  --16: clamp(0.56rem, 0.56vw + 0.5rem, 1.11rem);
  --16-: clamp(0.91rem, 0.28vw + 0.75rem, 1.11rem);
  --20__: clamp(0.5rem, 1.98vw - 0.7rem, 1.39rem);
  --20_: clamp(0.43rem, 1.05vw + 0.31rem, 1.39rem);
  --20: clamp(0.7rem, 0.7vw + 0.63rem, 1.39rem);
  --20-: clamp(1.13rem, 0.35vw + 0.94rem, 1.39rem);
  --32__: clamp(0.5rem, 3.16vw - 1.11rem, 2.22rem);
  --32_: clamp(0.69rem, 1.67vw + 0.5rem, 2.22rem);
  --32: clamp(1.11rem, 1.11vw + 1rem, 2.22rem);
  --32-: clamp(1.8rem, 0.56vw + 1.5rem, 2.22rem);
  --48__: clamp(0.5rem, 4.75vw - 1.67rem, 3.33rem);
  --48_: clamp(1.03rem, 2.5vw + 0.75rem, 3.33rem);
  --48: clamp(1.67rem, 1.67vw + 1.5rem, 3.33rem);
  --48-: clamp(2.7rem, 0.83vw + 2.26rem, 3.33rem);
  --60__: clamp(0.5rem, 5.93vw - 2.09rem, 4.17rem);
  --60_: clamp(1.29rem, 3.14vw + 0.94rem, 4.17rem);
  --60: clamp(2.09rem, 2.09vw + 1.88rem, 4.17rem);
  --60-: clamp(3.38rem, 1.04vw + 2.82rem, 4.17rem);
  --120__: clamp(0.5rem, 11.87vw - 4.17rem, 8.33rem);
  --120_: clamp(2.58rem, 6.26vw + 1.88rem, 8.33rem);
  --120: clamp(4.17rem, 4.17vw + 3.75rem, 8.33rem);
  --120-: clamp(6.75rem, 2.08vw + 5.64rem, 8.33rem);
  --240__: clamp(0.5rem, 23.73vw - 8.34rem, 16.67rem);
  --240_: clamp(5.15rem, 12.53vw + 3.75rem, 16.67rem);
  --240: clamp(8.34rem, 8.34vw + 7.5rem, 16.67rem);
  --240-: clamp(13.49rem, 4.17vw + 11.28rem, 16.67rem);
  --481__: clamp(0.5rem, 47.57vw - 16.7rem, 33.4rem);
  --481_: clamp(10.32rem, 25.11vw + 7.52rem, 33.4rem);
  --481: clamp(16.7rem, 16.7vw + 15.03rem, 33.4rem);
  --481-: clamp(27.02rem, 8.35vw + 22.6rem, 33.4rem);
  --fs-14__: clamp(0.38rem, 0.73vw + 0.22rem, 0.97rem);
  --fs-14_: clamp(0.49rem, 0.49vw + 0.44rem, 0.97rem);
  --fs-14: clamp(0.64rem, 0.24vw + 0.66rem, 0.97rem);
  --fs-16__: clamp(0.43rem, 0.83vw + 0.25rem, 1.11rem);
  --fs-16_: clamp(0.56rem, 0.56vw + 0.5rem, 1.11rem);
  --fs-16: clamp(0.73rem, 0.28vw + 0.75rem, 1.11rem);
  --fs-18__: clamp(0.48rem, 0.94vw + 0.28rem, 1.25rem);
  --fs-18_: clamp(0.63rem, 0.63vw + 0.56rem, 1.25rem);
  --fs-18: clamp(0.82rem, 0.31vw + 0.85rem, 1.25rem);
  --fs-24__: clamp(0.65rem, 1.26vw + 0.38rem, 1.67rem);
  --fs-24_: clamp(0.84rem, 0.84vw + 0.75rem, 1.67rem);
  --fs-24: clamp(1.09rem, 0.42vw + 1.13rem, 1.67rem);
  --fs-32__: clamp(0.85rem, 1.67vw + 0.5rem, 2.22rem);
  --fs-32_: clamp(1.11rem, 1.11vw + 1rem, 2.22rem);
  --fs-32: clamp(1.44rem, 0.56vw + 1.5rem, 2.22rem);
  --fs-48__: clamp(1.28rem, 2.5vw + 0.75rem, 3.33rem);
  --fs-48_: clamp(1.67rem, 1.67vw + 1.5rem, 3.33rem);
  --fs-48: clamp(2.17rem, 0.83vw + 2.26rem, 3.33rem);
  --fs-60__: clamp(1.61rem, 3.14vw + 0.94rem, 4.17rem);
  --fs-60_: clamp(2.09rem, 2.09vw + 1.88rem, 4.17rem);
  --fs-60: clamp(2.72rem, 1.04vw + 2.82rem, 4.17rem);
  --fs-120__: clamp(3.21rem, 6.26vw + 1.88rem, 8.33rem);
  --fs-120_: clamp(4.17rem, 4.17vw + 3.75rem, 8.33rem);
  --fs-120: clamp(5.42rem, 2.08vw + 5.64rem, 8.33rem);
}

.g-16__ {
  gap: var(--16__);
}

.g-16_ {
  gap: var(--16_);
}

.g-16 {
  gap: var(--16);
}

.g-16- {
  gap: var(--16-);
}

.g-32__ {
  gap: var(--32__);
}

.g-32_ {
  gap: var(--32_);
}

.g-32 {
  gap: var(--32);
}

.g-32- {
  gap: var(--32-);
}

.px-120__ {
  padding-inline: var(--120__);
}

.px-120_ {
  padding-inline: var(--120_);
}

.px-120 {
  padding-inline: var(--120);
}

.px-120- {
  padding-inline: var(--120-);
}

.px-240__ {
  padding-inline: var(--240__);
}

.px-240_ {
  padding-inline: var(--240_);
}

.px-240 {
  padding-inline: var(--240);
}

.px-240- {
  padding-inline: var(--240-);
}

.fs-14__ {
  font-size: var(--fs-14__);
}

.fs-14_ {
  font-size: var(--fs-14_);
}

.fs-14 {
  font-size: var(--fs-14);
}

.fs-16__ {
  font-size: var(--fs-16__);
}

.fs-16_ {
  font-size: var(--fs-16_);
}

.fs-16 {
  font-size: var(--fs-16);
}

.fs-18__ {
  font-size: var(--fs-18__);
}

.fs-18_ {
  font-size: var(--fs-18_);
}

.fs-18 {
  font-size: var(--fs-18);
}

.fs-24__ {
  font-size: var(--fs-24__);
}

.fs-24_ {
  font-size: var(--fs-24_);
}

.fs-24 {
  font-size: var(--fs-24);
}

.fs-32__ {
  font-size: var(--fs-32__);
}

.fs-32_ {
  font-size: var(--fs-32_);
}

.fs-32 {
  font-size: var(--fs-32);
}

.fs-48__ {
  font-size: var(--fs-48__);
}

.fs-48_ {
  font-size: var(--fs-48_);
}

.fs-48 {
  font-size: var(--fs-48);
}

.fs-60__ {
  font-size: var(--fs-60__);
}

.fs-60_ {
  font-size: var(--fs-60_);
}

.fs-60 {
  font-size: var(--fs-60);
}

.fs-120__ {
  font-size: var(--fs-120__);
}

.fs-120_ {
  font-size: var(--fs-120_);
}

.fs-120 {
  font-size: var(--fs-120);
}

/*# sourceMappingURL=try.css.map */
