$dev-mode: false; // false for prod usage
$build-class: false; // false to use only CSS var
$custom-class: true;
$name-by-size: true; // false to use class name by 1, 2, 3, 4, 5, 6, 7, 8, 9, 10...

$sizes: 24, 50;
$font-sizes: 14, 16, 18, 24, 32, 48, 60, 120;

/* BUILD EVA CSS FRAMEWORK
@import "./framework/reset";
@import "./framework/eva";
@import "./framework/colors";
@import "./framework/theme";
@import "./framework/components";
@import "./framework/utils";
@import "./framework/ballzzz";
@import "./framework/font";
@import "./framework/index"; */

/* BUILD ONLY FLUID CSS VAR */
@import "../framework/eva";

.test-class {
  background: red;
  padding: var(--16);
  font-size: var(--fs-14);
} 