/* BUILD ONLY FLUID CSS VAR */
:root {
  --16__: clamp(0.5rem, 1.58vw - 0.56rem, 1.11rem);
  --16_: clamp(0.35rem, 0.83vw + 0.25rem, 1.11rem);
  --16: clamp(0.56rem, 0.56vw + 0.5rem, 1.11rem);
  --16-: clamp(0.91rem, 0.28vw + 0.75rem, 1.11rem);
  --35__: clamp(0.5rem, 3.46vw - 1.22rem, 2.43rem);
  --35_: clamp(0.75rem, 1.83vw + 0.55rem, 2.43rem);
  --35: clamp(1.22rem, 1.22vw + 1.09rem, 2.43rem);
  --35-: clamp(1.97rem, 0.61vw + 1.64rem, 2.43rem);
  --64__: clamp(0.5rem, 6.33vw - 2.22rem, 4.44rem);
  --64_: clamp(1.37rem, 3.34vw + 1rem, 4.44rem);
  --64: clamp(2.22rem, 2.22vw + 2rem, 4.44rem);
  --64-: clamp(3.59rem, 1.11vw + 3.01rem, 4.44rem);
  --128__: clamp(0.5rem, 12.66vw - 4.45rem, 8.89rem);
  --128_: clamp(2.75rem, 6.68vw + 2rem, 8.89rem);
  --128: clamp(4.45rem, 4.45vw + 4rem, 8.89rem);
  --128-: clamp(7.2rem, 2.22vw + 6.02rem, 8.89rem);
  --141__: clamp(0.5rem, 13.94vw - 4.89rem, 9.79rem);
  --141_: clamp(3.02rem, 7.36vw + 2.2rem, 9.79rem);
  --141: clamp(4.89rem, 4.89vw + 4.41rem, 9.79rem);
  --141-: clamp(7.91rem, 2.45vw + 6.63rem, 9.79rem);
  --fs-128__: clamp(3.42rem, 6.68vw + 2rem, 8.89rem);
  --fs-128_: clamp(4.45rem, 4.45vw + 4rem, 8.89rem);
  --fs-128: clamp(5.79rem, 2.22vw + 6.02rem, 8.89rem);
}

:root {
  --current-lightness: 95%;
  --current-darkness: 5%;
  --brand-lightness: 80%;
  --brand-chroma: 0;
  --brand-hue: 0;
  --accent-lightness: 70%;
  --accent-chroma: 0;
  --accent-hue: 0;
  --extra-lightness: 60%;
  --extra-chroma: 0;
  --extra-hue: 0;
  --dark-lightness: var(--current-darkness);
  --dark-chroma: 0.05;
  --dark-hue: var(--brand-hue);
  --light-lightness: var(--current-lightness);
  --light-chroma: 0.1;
  --light-hue: var(--brand-hue);
  --darker: -5%;
  --brighter: 10%;
  --darker_: -15%;
  --brighter_: 30%;
}

.current-theme {
  --root-brand: var(--brand-lightness) var(--brand-chroma) var(--brand-hue);
  --brand: oklch(var(--root-brand));
  --brand_: oklch(var(--root-brand) / 65%);
  --brand__: oklch(var(--root-brand) / 35%);
  --brand___: oklch(var(--root-brand) / 5%);
  --brand-d: oklch(calc(var(--brand-lightness) + var(--darker)) var(--brand-chroma) var(--brand-hue));
  --brand-b: oklch(calc(var(--brand-lightness) + var(--brighter)) var(--brand-chroma) var(--brand-hue));
  --brand-d_: oklch(calc(var(--brand-lightness) + var(--darker_)) var(--brand-chroma) var(--brand-hue));
  --brand-b_: oklch(calc(var(--brand-lightness) + var(--brighter_)) var(--brand-chroma) var(--brand-hue));
  --root-accent: var(--accent-lightness) var(--accent-chroma) var(--accent-hue);
  --accent: oklch(var(--root-accent));
  --accent_: oklch(var(--root-accent) / 65%);
  --accent__: oklch(var(--root-accent) / 35%);
  --accent___: oklch(var(--root-accent) / 5%);
  --accent-d: oklch(calc(var(--accent-lightness) + var(--darker)) var(--accent-chroma) var(--accent-hue));
  --accent-b: oklch(calc(var(--accent-lightness) + var(--brighter)) var(--accent-chroma) var(--accent-hue));
  --accent-d_: oklch(calc(var(--accent-lightness) + var(--darker_)) var(--accent-chroma) var(--accent-hue));
  --accent-b_: oklch(calc(var(--accent-lightness) + var(--brighter_)) var(--accent-chroma) var(--accent-hue));
  --root-extra: var(--extra-lightness) var(--extra-chroma) var(--extra-hue);
  --extra: oklch(var(--root-extra));
  --extra_: oklch(var(--root-extra) / 65%);
  --extra__: oklch(var(--root-extra) / 35%);
  --extra___: oklch(var(--root-extra) / 5%);
  --extra-d: oklch(calc(var(--extra-lightness) + var(--darker)) var(--extra-chroma) var(--extra-hue));
  --extra-b: oklch(calc(var(--extra-lightness) + var(--brighter)) var(--extra-chroma) var(--extra-hue));
  --extra-d_: oklch(calc(var(--extra-lightness) + var(--darker_)) var(--extra-chroma) var(--extra-hue));
  --extra-b_: oklch(calc(var(--extra-lightness) + var(--brighter_)) var(--extra-chroma) var(--extra-hue));
  --root-dark: var(--dark-lightness) var(--dark-chroma) var(--dark-hue);
  --dark: oklch(var(--root-dark));
  --dark_: oklch(var(--root-dark) / 65%);
  --dark__: oklch(var(--root-dark) / 35%);
  --dark___: oklch(var(--root-dark) / 5%);
  --dark-d: oklch(calc(var(--dark-lightness) + var(--darker)) var(--dark-chroma) var(--dark-hue));
  --dark-b: oklch(calc(var(--dark-lightness) + var(--brighter)) var(--dark-chroma) var(--dark-hue));
  --dark-d_: oklch(calc(var(--dark-lightness) + var(--darker_)) var(--dark-chroma) var(--dark-hue));
  --dark-b_: oklch(calc(var(--dark-lightness) + var(--brighter_)) var(--dark-chroma) var(--dark-hue));
  --root-light: var(--light-lightness) var(--light-chroma) var(--light-hue);
  --light: oklch(var(--root-light));
  --light_: oklch(var(--root-light) / 65%);
  --light__: oklch(var(--root-light) / 35%);
  --light___: oklch(var(--root-light) / 5%);
  --light-d: oklch(calc(var(--light-lightness) + var(--darker)) var(--light-chroma) var(--light-hue));
  --light-b: oklch(calc(var(--light-lightness) + var(--brighter)) var(--light-chroma) var(--light-hue));
  --light-d_: oklch(calc(var(--light-lightness) + var(--darker_)) var(--light-chroma) var(--light-hue));
  --light-b_: oklch(calc(var(--light-lightness) + var(--brighter_)) var(--light-chroma) var(--light-hue));
}

.current-theme.toggle-theme {
  --darker: 10%;
  --brighter: -5%;
  --darker_: 30%;
  --brighter_: -15%;
  --current-lightness: 5%;
  --current-darkness: 95%;
  --dark-lightness: var(--current-darkness) !important;
  --light-lightness: var(--current-lightness) !important;
}

.theme-eva {
  --brand-lightness: 80%;
  --brand-chroma: 0.1924;
  --brand-hue: 169;
  --accent-lightness: 80%;
  --accent-chroma: 0.1924;
  --accent-hue: 10;
  --extra-lightness: 80%;
  --extra-chroma: 0.1924;
  --extra-hue: 200;
  --current-lightness: 96.4%;
  --current-darkness: 6.4%;
  --dark-lightness: var(--current-darkness);
  --dark-chroma: 0.05;
  --dark-hue: var(--brand-hue);
  --light-lightness: var(--current-lightness);
  --light-chroma: 0.01;
  --light-hue: var(--brand-hue);
}

.theme-ghost {
  --brand-lightness: 50%;
  --brand-chroma: 0;
  --brand-hue: 0.1;
  --accent-lightness: 50%;
  --accent-chroma: 0;
  --accent-hue: 0;
  --extra-lightness: 50%;
  --extra-chroma: 0;
  --extra-hue: 0;
  --current-lightness: 80%;
  --current-darkness: 20%;
  --dark-lightness: var(--current-darkness);
  --dark-chroma: 0;
  --dark-hue: var(--brand-hue);
  --light-lightness: var(--current-lightness);
  --light-chroma: 0;
  --light-hue: var(--brand-hue);
}

._bg-app {
  --current-bg-color: var(--bg-color);
  --current-f-color: var(--bg-color-2);
}

._shadow {
  box-shadow: 4px 4px 0px 0px var(--current-sh-color);
}
._shadow_ {
  box-shadow: 8px 8px 0px 0px var(--current-sh-color);
}

.hover\:_c-brand:hover {
  color: var(--brand);
}

.hover\:_bg-brand__:hover {
  background: var(--brand__);
}

.hover\:_bg-dark___:hover {
  background: var(--dark___);
}

[class*="hover:_bg"] {
  transition: background-color 0.2s;
}

.active.active\:_bg-brand__ {
  background: var(--brand__);
}

.active.active\:_c-brand {
  color: var(--brand);
}

.theme-try {
  --brand-lightness: 62.7%;
  --brand-chroma: 0.257;
  --brand-hue: 29.23;
  --accent-lightness: 96.4%;
  --accent-chroma: 0.209;
  --accent-hue: 104.6;
  --extra-lightness: 56.6%;
  --extra-chroma: 0.278;
  --extra-hue: 282.6;
}

.style-guide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: var(--dark);
}

.evacss-title {
  font-family: "Inter", sans-serif;
  font-size: var(--fs-128_);
  color: var(--light);
  margin-bottom: var(--64);
  text-align: center;
  font-weight: 400;
}

.evacss-colors {
  display: flex;
  gap: var(--35);
  justify-content: center;
}

.evacss-color {
  width: var(--141_);
  height: var(--141_);
  border-radius: 50%;
}

.evacss-color.brand {
  background: var(--brand);
}

.evacss-color.extra {
  background: var(--extra);
}

.evacss-color.accent {
  background: var(--accent);
}

/*# sourceMappingURL=try.css.map */
