$dev-mode: true; // false for prod usage
$build-class: true; // false to use only CSS var
$custom-class: false;
$name-by-size: true; // true = utilise les valeurs de taille, false = utilise les index

$sizes: 4, 8, 12, 20, 32, 34, 52, 84, 136, 220, 356, 576, 712;
$font-sizes: 12, 16, 18, 24, 36, 52, 72;

/* BUILD EVA CSS FRAMEWORK */
@import "./framework/reset";
@import "./framework/eva";
@import "./framework/colors";
@import "./framework/theme";
@import "./framework/components";
@import "./framework/utils";
@import "./framework/ballzzz";
@import "./framework/font";
@import "./framework/index";

/* BUILD ONLY FLUID CSS VAR 
@import "./framework/eva"; */
