/* BUILD EVA CSS FRAMEWORK */
:root {
  --24__: clamp(0.5rem, 2.37vw - 0.84rem, 1.67rem);
  --24_: clamp(0.52rem, 1.26vw + 0.38rem, 1.67rem);
  --24: clamp(0.84rem, 0.84vw + 0.75rem, 1.67rem);
  --24-: clamp(1.36rem, 0.42vw + 1.13rem, 1.67rem);
  --50__: clamp(0.5rem, 4.94vw - 1.74rem, 3.47rem);
  --50_: clamp(1.08rem, 2.61vw + 0.78rem, 3.47rem);
  --50: clamp(1.74rem, 1.74vw + 1.56rem, 3.47rem);
  --50-: clamp(2.82rem, 0.87vw + 2.35rem, 3.47rem);
  --100__: clamp(0.5rem, 9.89vw - 3.47rem, 6.94rem);
  --100_: clamp(2.14rem, 5.22vw + 1.56rem, 6.94rem);
  --100: clamp(3.47rem, 3.47vw + 3.13rem, 6.94rem);
  --100-: clamp(5.61rem, 1.74vw + 4.7rem, 6.94rem);
  --fs-14__: clamp(0.38rem, 0.73vw + 0.22rem, 0.97rem);
  --fs-14_: clamp(0.49rem, 0.49vw + 0.44rem, 0.97rem);
  --fs-14: clamp(0.64rem, 0.24vw + 0.66rem, 0.97rem);
  --fs-16__: clamp(0.43rem, 0.83vw + 0.25rem, 1.11rem);
  --fs-16_: clamp(0.56rem, 0.56vw + 0.5rem, 1.11rem);
  --fs-16: clamp(0.73rem, 0.28vw + 0.75rem, 1.11rem);
  --fs-18__: clamp(0.48rem, 0.94vw + 0.28rem, 1.25rem);
  --fs-18_: clamp(0.63rem, 0.63vw + 0.56rem, 1.25rem);
  --fs-18: clamp(0.82rem, 0.31vw + 0.85rem, 1.25rem);
  --fs-24__: clamp(0.65rem, 1.26vw + 0.38rem, 1.67rem);
  --fs-24_: clamp(0.84rem, 0.84vw + 0.75rem, 1.67rem);
  --fs-24: clamp(1.09rem, 0.42vw + 1.13rem, 1.67rem);
  --fs-32__: clamp(0.85rem, 1.67vw + 0.5rem, 2.22rem);
  --fs-32_: clamp(1.11rem, 1.11vw + 1rem, 2.22rem);
  --fs-32: clamp(1.44rem, 0.56vw + 1.5rem, 2.22rem);
  --fs-48__: clamp(1.28rem, 2.5vw + 0.75rem, 3.33rem);
  --fs-48_: clamp(1.67rem, 1.67vw + 1.5rem, 3.33rem);
  --fs-48: clamp(2.17rem, 0.83vw + 2.26rem, 3.33rem);
  --fs-60__: clamp(1.61rem, 3.14vw + 0.94rem, 4.17rem);
  --fs-60_: clamp(2.09rem, 2.09vw + 1.88rem, 4.17rem);
  --fs-60: clamp(2.72rem, 1.04vw + 2.82rem, 4.17rem);
  --fs-80__: clamp(2.14rem, 4.18vw + 1.25rem, 5.56rem);
  --fs-80_: clamp(2.78rem, 2.78vw + 2.5rem, 5.56rem);
  --fs-80: clamp(3.61rem, 1.39vw + 3.76rem, 5.56rem);
  --fs-120__: clamp(3.21rem, 6.26vw + 1.88rem, 8.33rem);
  --fs-120_: clamp(4.17rem, 4.17vw + 3.75rem, 8.33rem);
  --fs-120: clamp(5.42rem, 2.08vw + 5.64rem, 8.33rem);
}

.px-24__ {
  padding-inline: var(--24__);
}

.px-24_ {
  padding-inline: var(--24_);
}

.px-24 {
  padding-inline: var(--24);
}

.px-24- {
  padding-inline: var(--24-);
}

.w-50__ {
  width: var(--50__);
}

.w-50_ {
  width: var(--50_);
}

.w-50 {
  width: var(--50);
}

.w-50- {
  width: var(--50-);
}

.fs-14__ {
  font-size: var(--fs-14__);
}

.fs-14_ {
  font-size: var(--fs-14_);
}

.fs-14 {
  font-size: var(--fs-14);
}

.fs-16__ {
  font-size: var(--fs-16__);
}

.fs-16_ {
  font-size: var(--fs-16_);
}

.fs-16 {
  font-size: var(--fs-16);
}

.fs-18__ {
  font-size: var(--fs-18__);
}

.fs-18_ {
  font-size: var(--fs-18_);
}

.fs-18 {
  font-size: var(--fs-18);
}

.fs-24__ {
  font-size: var(--fs-24__);
}

.fs-24_ {
  font-size: var(--fs-24_);
}

.fs-24 {
  font-size: var(--fs-24);
}

.fs-32__ {
  font-size: var(--fs-32__);
}

.fs-32_ {
  font-size: var(--fs-32_);
}

.fs-32 {
  font-size: var(--fs-32);
}

.fs-48__ {
  font-size: var(--fs-48__);
}

.fs-48_ {
  font-size: var(--fs-48_);
}

.fs-48 {
  font-size: var(--fs-48);
}

.fs-60__ {
  font-size: var(--fs-60__);
}

.fs-60_ {
  font-size: var(--fs-60_);
}

.fs-60 {
  font-size: var(--fs-60);
}

.fs-80__ {
  font-size: var(--fs-80__);
}

.fs-80_ {
  font-size: var(--fs-80_);
}

.fs-80 {
  font-size: var(--fs-80);
}

.fs-120__ {
  font-size: var(--fs-120__);
}

.fs-120_ {
  font-size: var(--fs-120_);
}

.fs-120 {
  font-size: var(--fs-120);
}

/*# sourceMappingURL=lili.css.map */
